.App {
  text-align: center;
  overflow: hidden;
}

.App * {
  transition: all .3s ease;
}

.App-header {
  background-color: #24272c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainContainer {
  padding: 60px 120px;
}

img {
  display: block;
}

.setsTable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.setContainer {
  margin: 30px;
}

.setContainer * {
  border-radius: 25px;
  height: 250px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

.setLabel {
  font-family: 'Roboto Slab', serif;
  height: auto;
}

.imageContainer {
  position: relative;
}

.setOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 0;
  opacity: 0.7;
  background-color: rgb(40, 40, 44);
  display: block;
  height: auto;
  overflow: hidden;
  border-radius: 25px 0 0 25px;
}

.setOverlay * {
  transform: translate(-120%);
}

.imageContainer:hover .setPreview {
  filter:brightness(0.5)
}

.imageContainer:hover .setOverlay * {
  transform: translate(0px);
}

.imageContainer:hover .setOverlay {
  width: 150px;
}

.imageContainer:hover .text {
  opacity: 0.9;
}

.imageContainer:hover .downloadIcon {
  opacity: 0.9;
}

.text {
  white-space: nowrap;
  opacity: 0;
  color: white;
  font-size: 26px;
  overflow: hidden;
}

.setOverlayButton {
  margin: 20px auto 0 auto;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 45px;
  border: rgb(116, 115, 122) solid 3px;
  border-radius: 10px;
  background-color: rgba(65, 64, 68, 0.7);
}

.setOverlayButton:hover {
  border: rgb(167, 165, 180) solid 3px;
  background-color: rgba(91, 89, 95, 0.7);
  transition: .2s ease;
}

.downloadIcon {
  margin: 0;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  width: 45px;
  height: 45px;
  filter: invert(76%) sepia(7%) saturate(130%) hue-rotate(131deg) brightness(93%) contrast(93%);
}

.downloadContainer {
  padding: 25px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}